@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Device Breakpoints */
  --mobile-min: 360px;
  --tablet-min: 744px;
  --pc-min: 1280px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Pretendard Variable', sans-serif;
  color: var(--foreground);
  background: var(--background);
}
