@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 개발 환경에서 1rem = 10px */
  font-size: 62.5%;

  /* Device Breakpoints */
  --mobile-min: 360px;
  --tablet-min: 744px;
  --pc-min: 1280px;
}

/* 상위 레이어 기본 스타일 정의 */
@layer base {
  /* 기본 스타일 초기화 */
  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  html,
  body {
    background-color: #0f172a;
    color: #f8fafc;
    width: 100%;
    height: 100%;
  }
  /* 부드러운 스크롤을 위한 속성 */
  html {
    scroll-behavior: smooth;
  }
  /* 부드러운 렌더링을 위한 속성 */
  body {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 1.6rem;
  }
}
